@charset "utf-8";
/* CSS Document */

body {
	background-color: #d3d3d3;
}

.footer1 {
	background-color: #323534;
	color: #FFFFFF;
	font-size: .75em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#footer1 a:link {
	color: #d3d3d3;
	text-decoration: none;
}
#footer1 a:visited {
	color: #ffff00;
}
#footer1 a:hover {
	color: #4239fd;
}
.content {
	margin: auto;
	max-width: 992px;
}